In [12]:
import pandas as pd
import dash
import dash_core_components as dcc
import dash_html_components as html
import numpy as np
import plotly.graph_objs as go

In [7]:
!pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

In [9]:
orders = pd.read_excel('D:/College/GITHUB REPOS/Python-Dash-Experiments/Sales.xls')

In [10]:
orders.head()

,SALES_ID,SALES_BY_REGION,JANUARY,FEBRUARY,MARCH,APRIL,MAY,JUNE,JULY,AUGUST,SEPTEMBER,OCTOBER,NOVEMBER,DECEMBER
0,16,UAQ,n.a.,5941,3487,-1,5433,3511,2555,n.a.,1929,4285,1198,-1
1,10,FUJ,1085,5189,n.a.,1142,1951,3967,1993,5116,3785,2733,5686,n.a.
2,28,AUH,-1,1796,2472,4829,2194,-1,1142,1674,5857,1500,3219,5033
3,8,DXB,3490,not avilable,1317,2351,1864,n.a.,4161,1131,2173,4005,5238,1396
4,5,FUJ,2152,3064,3981,2958,3794,5453,3324,n.a.,1516,5640,1301,5513

In [13]:

app = dash.Dash()

In [14]:
np.random.seed(50)
x_rand = np.random.randint(1,61,60)
y_rand = np.random.randint(1,61,60)

In [15]:
app.layout = html.Div([
    dcc.Graph(
        id = 'scatter_chart',
        figure ={
            'data' : [
                go.Scatter(
                    x = orders.SALES_ID,
                    y = orders.JANUARY,
                    mode = 'markers'
                )
            ],
            'layout' : go.Layout(
                title = "Scatter Plot of Random Points",
                xaxis = {'title' : 'Random X-Values'},
                yaxis = {'title' : 'Random Y-Values'}
            )
        }
    )
])

In [16]:
if __name__ == '__main__':
    app.run_server(port = 4051)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:4051/ (Press CTRL+C to quit)
127.0.0.1 - - [16/Apr/2020 18:51:30] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [16/Apr/2020 18:51:31] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [16/Apr/2020 18:51:31] "GET /_dash-layout HTTP/1.1" 200 -